*, *::after, *::before {
    box-sizing: border-box;
}

:root{
    --fuscia: #f0f;
    --foilage: #024402;
    --humanFlesh: #faebd6;
}

header{
    background-color: var(--fuscia);
    color: var(--foilage);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

h1{          
    margin: initial;
}

#highscores {
    text-decoration: none;
    color: var(--foilage);
    color: an;
    margin-left: 5px;
    font-size: larger;
    border: 2px dashed var(--foilage);
    padding: 5px;
}

#highscores:hover{
    cursor: pointer;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rules {
    text-align: center;
    color: var(--foilage);
}

#timer {
    margin-right: 5px;
}

.question-header, .question-list {
    align-self: center;
    color: var(--foilage);
    margin: 10px 20px;
} 

.question-list {
    list-style-type: disclosure-closed;
    list-style-position: inside;
    margin-right: 10%;
}

.question-item {
    background-color: var(--fuscia);
    color: var(--foilage);
    margin: 5px;
    border-radius: 5px;
    box-shadow: var(--foilage) 0px 1px 1px;
    padding: 4px;
}

.question-item:hover {
    background-color: var(--humanFlesh);
    cursor: crosshair;
}

p.question-header {  /*For the quiz finished headline */
    text-align: center;
    font-size: large;
    color: var(--foilage);
}

label {
    margin: 0px 1%;
    color: var(--foilage);
}

input {
    text-align: center;
    margin: 0px 1% 1% 1%;
    border: 1px solid var(--foilage);
}

#feedbackNode {
    background-color: var(--humanFlesh);
    color: var(--foilage);
    text-align: center;
    align-self: center;
    min-width: 40vw;
}

#highScoreList {
    background-color: var(--humanFlesh);
    color: var(--foilage);
}

button{
    color: var(--foilage);
}
#goBackButton {
    margin-bottom: 5px;
}


/*Adjust positioning for mobile devices*/
@media screen and (max-width: 500px) {
    header{
        font-size: small;
    }

    .question-list {
        margin-right: 20%;
    }

}


@media screen and (max-width: 425px) {
    header{
        font-size: x-small;
    } 

    h1{
        margin-left: 10px;
    }

    /*disables hover animation on mobile touchscreens*/
    .question-item:hover {
        background-color: var(--fuscia);
    }
}

@media screen and (max-width: 350px) {
    header{
        font-size: xx-small;
    }

    main{
        font-size: small;
    }
}